<div class="ability flexrow flex-group-center">
    <label for="system.abilities.ath.value" class="resource-label rollable flexlarge align-left"
        data-roll="d@abilities.ath.def"
        data-label="{{system.abilities.ath.label}}">{{system.abilities.ath.label}}</label>
    {{!-- <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" /> --}}
    <select name="system.abilities.ath.value" data-dtype="Number">
        {{selectOptions dieChoices selected=system.abilities.ath.value}}
    </select>
    <span class="ability-mod" data-label="{{system.abilities.ath.label}}">{{numberFormat
        system.abilities.ath.def decimals=0}}</span>
</div>

<div class="ability flexrow flex-group-center">
    <label for="system.abilities.ath.value" class="resource-label rollable flexlarge align-left"
        data-roll="d@abilities.ath.def"
        data-label="{{system.abilities.ath.label}}">{{system.abilities.ath.label}}</label>
    {{!-- <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" /> --}}
    <select name="system.abilities.ath.value" data-dtype="Number">
        {{selectOptions dieChoices selected=system.abilities.ath.value}}
    </select>
    <span class="ability-mod" data-label="{{system.abilities.ath.label}}">{{numberFormat
        system.abilities.ath.def decimals=0}}</span>
</div>

<div class="ability flexrow flex-group-center">
    <label for="system.abilities.ath.value" class="resource-label rollable flexlarge align-left"
        data-roll="d@abilities.ath.def"
        data-label="{{system.abilities.ath.label}}">{{system.abilities.ath.label}}</label>
    {{!-- <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" /> --}}
    <select name="system.abilities.ath.value" data-dtype="Number">
        {{selectOptions dieChoices selected=system.abilities.ath.value}}
    </select>
    <span class="ability-mod" data-label="{{system.abilities.ath.label}}">{{numberFormat
        system.abilities.ath.def decimals=0}}</span>
</div>

<div class="ability flexrow flex-group-center">
    <label for="system.abilities.ath.value" class="resource-label rollable flexlarge align-left"
        data-roll="d@abilities.ath.def"
        data-label="{{system.abilities.ath.label}}">{{system.abilities.ath.label}}</label>
    {{!-- <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" /> --}}
    <select name="system.abilities.ath.value" data-dtype="Number">
        {{selectOptions dieChoices selected=system.abilities.ath.value}}
    </select>
    <span class="ability-mod" data-label="{{system.abilities.ath.label}}">{{numberFormat
        system.abilities.ath.def decimals=0}}</span>
</div>

<div class="ability flexrow flex-group-center">
    <label for="system.abilities.ath.value" class="resource-label rollable flexlarge align-left"
        data-roll="d@abilities.ath.def"
        data-label="{{system.abilities.ath.label}}">{{system.abilities.ath.label}}</label>
    {{!-- <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" /> --}}
    <select name="system.abilities.ath.value" data-dtype="Number">
        {{selectOptions dieChoices selected=system.abilities.ath.value}}
    </select>
    <span class="ability-mod" data-label="{{system.abilities.ath.label}}">{{numberFormat
        system.abilities.ath.def decimals=0}}</span>
</div>

<div class="ability flexrow flex-group-center">
    <label for="system.abilities.ath.value" class="resource-label rollable flexlarge align-left"
        data-roll="d@abilities.ath.def"
        data-label="{{system.abilities.ath.label}}">{{system.abilities.ath.label}}</label>
    {{!-- <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" /> --}}
    <select name="system.abilities.ath.value" data-dtype="Number">
        {{selectOptions dieChoices selected=system.abilities.ath.value}}
    </select>
    <span class="ability-mod" data-label="{{system.abilities.ath.label}}">{{numberFormat
        system.abilities.ath.def decimals=0}}</span>
</div>